@media (min-width: 325px) and (max-width: 768px){
    main {
        overflow-x: hidden;
    }
    .secao-topo {
        display: flex;
        flex-direction: column;
    }
    .borda-425 {
        border: 1px solid #00000031;
        width: 100%;
    }
    .link-topo a {
        padding: 20px;
        margin: 0 15px;
        font-size: 12px;
    }
    .banner {
        background-position: center;
        height: 200px;
        width: 100%;
    }
    h1 {
        position: absolute;
        left: 5%;
        top: 25%;  
        font-size: 20px;
        text-transform: uppercase;
        color: #fff;
        font-weight: normal;
        line-height: 20px;
    }
    .secao-informacao h2 {
        font-size: 20px;
        margin: 40px 0 20px 0;
    }
    .secao-informacao p, .galeria p, .secao-contato p {
        width: 350px;
        font-size: 12px;
    }
    figure {
        flex-direction: column;
        align-items: center;
        }
    
    .lista img {
        display: none;
    }
    .borda {
        width: 250px;
        margin: 20px 0;
    }
    .lista h3 {
        font-weight: normal;
        font-size: 14px;
        text-transform: uppercase;
        padding: 40px 0 15px 0;
    }
    .lista li {
        font-size: 12px;
        text-align: left;
    }
    .galeria h4, .secao-contato h4 {
        padding: 20px 0;
        font-size: 15px;
    }
    figcaption {
        padding: 10px;
        text-transform: uppercase;
        font-size: 14px;
    }
    .img img {
        width: 250px;
    }
    .secao-contato p {
        padding: 10px 0;
        font-size: 12px;
        width: 350px;
    }
    footer p {
        padding: 10px 0;
        color: #fff;
        font-size: 12px;
    }
} 
@media (min-width: 769px) and (max-width: 1024px) {
    .limite img {
        margin: 0 20px;
    }
    .banner {
        background-position: center center;
        height: 300px;
    }
    h1 {
        position: absolute;
        top: 30%;
        left: 20px;
        font-size: 25px;
        line-height: 30px;
    }
    .secao-informacao h2 {
        font-size: 23px;
        margin: 40px 0 20px 0;
    }
    .secao-informacao p, .galeria p, .secao-contato p {
        width: 430px;
        font-size: 17px;
    }
    .lista h3 {
        text-align: center;
    }
    .lista img {
        display: none;
    }
    figure {
        flex-wrap: wrap;
    }
    .borda {
        margin: 20px 0;
    }
    .lista h3 {
        font-weight: normal;
        font-size: 19px;
        text-transform: uppercase;
        padding: 40px 0 15px 0;
    }
    .lista li {
        font-size: 15px;
    }
    .galeria h4, .secao-contato h4 {
        padding: 20px 0;
        font-size: 18px;
    }
    figcaption {
        padding: 10px;
        text-transform: uppercase;
        font-size: 17px;
    }
    .secao-contato p {
        padding: 10px 0;
        font-size: 17px;
        width: 400px;
    }
    
    footer p {
        padding: 10px 0;
        color: #fff;
        font-size: 17px;
    }
}
